{% extends 'paginas/modelo.html' %}

{% load static %}


 {% block conteudo %}
<div>
 <h1 style="color: green; mt-5,">Blog de Plantas</h1>
 <p class="lead"> O site tem como finalidade proporcionar aos cuidadores de plantas uma melhor organização quando se trata de cuidar de
todas elas.</p><code class="small"></code> <code
         class="small"></code></p>

<h3 style="color: green">Registre aqui todas as informações de cuidado com suas plantas</h3>
 <p><a href="/docs/5.1/examples/sticky-footer/"></a> </p>
</div>
 {% endblock %}