{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    
</head>
<body>
    <div class="container color:green">
        <h2 class="text-success border-bottom border-primary pb-3">Sobre o Blog</h2>

        <p class="text-primary">Técnico em Informática 4º no</p>

        <p style="color: black; text-align:center;">Olá!! Nós somos KAREN ARISA NAKAGAWA e NATHÁLIA RODRIGUES DE SOUZA.</p>
    
         <p style="color: black; text-align:center;"> O projeto tem como finalidade proporcionar aos cuidadores de plantas uma melhor organização quando se trata de cuidar de todas elas.</p>
    
         <h2 style="color: blue; text-align:center;">Diagrama de Caso de Uso</h2>

         <img src ="{% static 'img\casoDeUso.jpeg' %}">

         <br>
    <br>
    <br>
    <br>
    <br>
    <h2 style="color: blue; text-align:center;">Diagrama de Classe</h2>
         <img src = "{% static 'img\Classes.jpeg' %}">

        </div>
   
     

    </body>
</html>